*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: pink;
    border: aquamarine;
    text-align: justify;
    margin: auto;
}
table{
    border-radius: 0%;
    background-color: skyblue;
    font-size: 20px;
    border-style: dashed;
}
th{
    color: red;
}
ul{
    list-style-type: square;
    display: inline-block;

}
ol{
            
    list-style-type: lower-roman;
    display: inline-block;
}
img{
    border-radius: 18px;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
}